*{
  font-family: Helvetica, Arial, sans-serif;
}

p{
  display: inline;
  font-size: 10px;
}

img {
    height: 240px;
    display: inline;
}

button{
  padding: 4px 9px;
  background: white;
  border: 1px solid black;
  margin: 0px 1rem;
}

button:focus{
  outline:0;
}

#canvasContainer {
    display: inline;
}

#controls{
  margin: 1rem;
  max-width: 640px;
  text-align: center;
}